#userPLayList{

    float:left
}
#createPlayInput{
left:20%}

#playListPage
{
    position:absolute;
    top:20%;
    display:inline;
    width: 100%;



}
 .playButton{
     display:inline-block;
     margin-top:30px

 }

 .playListTracks{
     display:inline;
     float:left

 }
 .container{
          display:inline;

 }

 .boss{
          display:inline;
          float:left



 }

.userPage{
     display: block;
vertical-align:middle;
         margin-top:10px

}
 .bottomTrack {
vertical-align:middle;
          margin-top:10px

 }
 .likelist{
      display: inline-block;
vertical-align:middle;
          margin-top:10px

 }
 .ShowListButton{
          display: inline-block;

     float:left;
          margin-top:10px


 }
  .imgdiv
          {
                display: inline-block;
                height:122px;
                width:122px;
                top:50%;

          }
  .className{
                   display: inline-block;

  }

 .LikeTrackButton{
               display: inline-block;
               margin-top:10px;
               float: left;
 }

 #profile{
     position: relative;
     top:40%

 }


