#userPLayList{

    float:left
}
#createPlayInput{
left:20%}

#playListPage
{
    position:absolute;
    top:20%;
    display:inline;
    width: 100%;



}
.hashTags{
    position:absolute;
    right :20%;

}
 .playButton{
     display:inline-block;
     margin-top:30px

 }

 .boss2{
     left:-30%
  }


  .form-container {
               left: 30%;
              right:20%;
              top:25%;
              width:60%;
              height:60%;
       -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

        .butonupload{
               left: 40%;
              right:40%;
              top:100%;



        }




 .hashButton{
          margin-top:20px;
          margin-left:20px;

         display:inline-block;
         float:left;


 }

 .playListTracks{
     display:inline;
     float:left

 }
 .container{

 }

 .boss{
          display:inline;
          float:left



 }
 .hashs{
     display: block;

 }

.userPage{
     display: block;
vertical-align:middle;
         margin-top:10px

}
 .bottomTrack {
vertical-align:middle;
          margin-top:10px

 }
 .likelist{
      display: inline-block;
vertical-align:middle;
          margin-top:10px

 }
 .ShowListButton{
          display: inline-block;

     float:left;
          margin-top:10px


 }
  .imgdiv
          {
                display: inline-block;
                height:122px;
                width:122px;
                top:50%;

          }
  .className{
                   display: inline-block;

  }

 .LikeTrackButton{
               display: inline-block;
               margin-top:10px;
               float: left;
 }

 #profile{
     position: relative;
     top:40%

 }


