<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/style.css') }}">
                      <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='upload/style.css') }}">

</head>
<body>





<div class="custom_file_upload">
    <
<form action="{{ uploadip }}:8080/save " method="post" enctype="multipart/form-data">
                <input type="file" name="file[]" id="file" class="file">
                    <input type="file" name="file[]" id="file" class="file">  "

                <input type="submit" value="Upload" name="submit" id="file_upload" class="btn"></form>
    </div>

</body>
</html>